* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #eea486, #dfd9e1);
  font: 20px/1.5 Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  width: 35%;
  margin: 15vh auto auto auto;
  position: absolute;
  top: 14%;
  left: 30%;
}

.display {
  background-color: grey;
  height: 80px;
  text-align: end;
  padding-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.zero {
  grid-column: span 2;
}

.button {
  background-color: rgb(230, 230, 230);
  padding: 18px;
  font-size: 22px;
  border: 1px solid rgb(210, 210, 210);
}

.operator {
  background-color: rgb(247, 160, 0);
}

.text {
  margin: 40px 0 0 20px;
  font-size: 17px;
  color: rgb(69, 71, 59);
}
